<section id="about" class="about-section">
  <div class="container">
    <h2 class="section-title">About Me</h2>
    <p class="about-text">
      Hi, I'm <strong>Omkar Shinde</strong>, a passionate <strong class="custom-tooltip" [title]="fullstackTitle">Full-Stack Developer</strong> 
      with a focus on building scalable, responsive, and user-friendly web applications. I specialize in technologies like 
      <strong><a href="https://angular.dev/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Angular</a>, 
        <a href="https://spring.io/projects/spring-boot" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Spring Boot</a>,
        <a href="https://www.java.com/en/download/help/whatis_java.html" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Java</a> ,
         and 
         <a href="https://www.mysql.com/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">SQL</a></strong>.
    </p>

    <p class="about-text">
        With real-world experience in building microservices, managing systems like 
        <strong><a href="https://www.youtube.com/watch?v=eNRBVbyw_44" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">EDC</a></strong>, 
        <strong><a href="#" rel="noopener noreferrer" style="text-decoration: none;">CTMS</a></strong>, 
        <strong [title]="QMSTitle"><a href="#" rel="noopener noreferrer" style="text-decoration: none;">QMS</a></strong>, and 
        <strong><a href="https://cahoot-technologies.com/human-resource-management-system" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">HRMS</a></strong>, 
        and building custom dashboards, I thrive on turning ideas into working software. I enjoy collaborating on creative projects, solving complex problems, and continuously learning.
    </p>

    <p class="about-text">
      When I'm not coding, you might find me exploring new tech, working on side projects, or contributing to open source.
    </p>
  </div>
</section>
